In [160]:
import pandas as pd
import numpy as np

data = pd.read_csv("muzee.csv")

data.head()

,_id,codul entității muzeale,identificatorul înregistrării,județul,denumirea (română),denumirea cu localitate (română),denumirea (engleză),denumirea cu localitate (engleză),localitatea,unitatea administrativă,...,codul LMI al clădirii,codul SIRUTA al localității,data ultimei modificări,profilul principal (engleză),ordinul de acreditare,categoria (română),categoria (engleză),latitudine,longitudine,coordonatele
0,1,7083504,8,București,"Muzeul Memorial ""Dr. Victor Babeș""","Muzeul Memorial ""Dr. Victor Babeș"" - BUCUREȘTI",Dr. Victor Babeș Memorial Museum,Dr. Victor Babeș Memorial Museum - BUCHAREST,BUCUREȘTI,NaN,...,B-II-m-B-19267,179141.0,30.09.2013 12:50:47,Memorials -,NaN,Muzeu municipal,City museum,"44,460065","26,091329",muzeu
1,2,7300205,9,București,"Muzeul de Artă Veche Apuseană ""ing. Dumitru Mi...","Muzeul de Artă Veche Apuseană ""ing. Dumitru Mi...",Eng. Dumitru Minovici Western Old Art Museum,Eng. Dumitru Minovici Western Old Art Museum -...,BUCUREȘTI,NaN,...,B-II-m-A-19206,179141.0,05.12.2013 11:37:34,NaN,NaN,Muzeu în subordinea Academiei Române,Museum under the Romanian Academy,"44,484256","26,074651",muzeu
2,3,7084103,10,București,"Colecția de Artă Plastică ""Fr. Storck și Cecil...","Colecția de Artă Plastică ""Fr. și Cecilia Cuțe...",Fr. Storck and Cecilia Cuțescu Storck Fine Art...,Fr. Storck and Cecilia Cuțescu Storck Fine Art...,BUCUREȘTI,NaN,...,B-II-m-B-18332,179141.0,05.12.2013 11:37:34,NaN,NaN,Muzeu municipal,City museum,"44,450912","26,094471",muzeu
3,4,7300407,12,București,"Casa Memorială ""George și Agatha Bacovia""","Casa Memorială ""George și Agatha Bacovia"" - BU...",George and Agatha Bacovia Memorial House,George and Agatha Bacovia Memorial House - BUC...,BUCUREȘTI,NaN,...,NaN,179178.0,03.10.2013 16:08:28,NaN,NaN,Muzeu municipal,City museum,"44,397006","26,101241",muzeu
4,5,7300402,13,București,"Muzeul Memorial ""George Călinescu""","Muzeul Memorial ""George Călinescu"" - BUCUREȘTI",George Călinescu Memorial Museum,George Călinescu Memorial Museum - BUCHAREST,BUCUREȘTI,NaN,...,B-II-m-B-18411,179141.0,30.09.2013 12:50:47,NaN,NaN,Muzeu în subordinea Academiei Române,Museum under the Romanian Academy,"44,462162","26,099546",muzeu

In [161]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 44 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   _id                                    1008 non-null   int64
 1   codul entității muzeale                1008 non-null   int64
 2   identificatorul înregistrării          1008 non-null   int64
 3   județul                                1008 non-null   str
 4   denumirea (română)                     1008 non-null   str
 5   denumirea cu localitate (română)       1008 non-null   str
 6   denumirea (engleză)                    1008 non-null   str
 7   denumirea cu localitate (engleză)      1008 non-null   str
 8   localitatea                            1008 non-null   str
 9   unitatea administrativă                478 non-null    str
 10  adresa                                 723 non-null    str
 11  codul poștal                           1008 non-null   str
 12  telefon                                778 non-null    str
 13  data ultimei confirmări a telefonului  476 non-null    str
 14  fax                                    345 non-null    str
 15  data ultimei confirmări a faxului      382 non-null    str
 16  programul (română)                     887 non-null    str
 17  programul (engleză)                    887 non-null    str
 18  anul înființării                       763 non-null    str
 19  descrierea (română)                    1007 non-null   str
 20  descrierea sumară (română)             938 non-null    str
 21  descrierea sumară (engleză)            1007 non-null   str
 22  descrierea clădirii (română)           328 non-null    str
 23  descrierea clădirii (engleză)          240 non-null    str
 24  istoric (română)                       312 non-null    str
 25  istoric (engleză)                      198 non-null    str
 26  acces (română)                         524 non-null    str
 27  access (engleză)                       519 non-null    str
 28  URL                                    607 non-null    str
 29  e-mail                                 481 non-null    str
 30  director                               519 non-null    str
 31  codul instituției                      992 non-null    str
 32  descrierea (engleză)                   553 non-null    str
 33  profilul principal (română)            1005 non-null   str
 34  codul LMI al clădirii                  349 non-null    str
 35  codul SIRUTA al localității            1007 non-null   float64
 36  data ultimei modificări                1008 non-null   str
 37  profilul principal (engleză)           154 non-null    str
 38  ordinul de acreditare                  50 non-null     str
 39  categoria (română)                     815 non-null    str
 40  categoria (engleză)                    763 non-null    str
 41  latitudine                             1006 non-null   str
 42  longitudine                            1006 non-null   str
 43  coordonatele                           1006 non-null   str
dtypes: float64(1), int64(3), str(40)
memory usage: 3.5 MB

In [162]:
data.describe()

,_id,codul entității muzeale,identificatorul înregistrării,codul SIRUTA al localității
count,1008.000000,1.008000e+03,1008.000000,1007.000000
mean,505.496032,6.167607e+09,932.509921,95630.844091
std,291.741982,1.654592e+10,722.148586,59647.431188
min,1.000000,5.100420e+05,1.000000,1026.000000
25%,253.750000,6.950509e+06,309.500000,51029.000000
50%,505.500000,7.083500e+06,615.500000,95079.000000
75%,757.250000,7.218600e+06,1747.250000,143628.000000
max,1011.000000,5.162000e+10,2016.000000,617026.000000

In [163]:
# Task 1 - correct

task_1 = pd.DataFrame({
    "id": 1,
    "subtaskID": 1,
    "answer": 1008
}, index=[1])

task_1

   id  subtaskID  answer
1   1          1    1008

In [164]:
# Task 2 - correct

task_2 = pd.DataFrame({
    "id": 2,
    "subtaskID": 2,
    "answer": (data["județul"] == "București").sum()
}, index=[2])

task_2

   id  subtaskID  answer
2   2          2      59

In [165]:
# Task 3 - correct

task_3 = pd.DataFrame({
    "id": 3,
    "subtaskID": 3,
    "answer": 33
}, index=[3])

task_3

   id  subtaskID  answer
3   3          3      33

In [166]:
# Task 4 - correct

by_year = data.groupby(by=data["anul înființării"])
year_with_most_occurances = by_year.size().sort_values().index[-1]

task_4 = pd.DataFrame({
    "id": 4,
    "subtaskID": 4,
    "answer": year_with_most_occurances
}, index=[4])

task_4

   id  subtaskID answer
4   4          4   2006

In [167]:
# Task 5 - correct

by_county_sizes = data.groupby(by=data["județul"]).size()

task_5 = pd.DataFrame({
    "id": by_county_sizes.index,
    "subtaskID": 5,
    "answer": by_county_sizes.values
}, index=None)

task_5

                 id  subtaskID  answer
0              Alba          5      60
1              Arad          5      17
2             Argeș          5      30
3             Bacău          5      33
4             Bihor          5      25
5   Bistrița-Năsăud          5      19
6          Botoșani          5      12
7            Brașov          5      29
8            Brăila          5      10
9         București          5      59
10            Buzău          5       9
11    Caraș-Severin          5      21
12             Cluj          5      27
13        Constanța          5      29
14          Covasna          5      14
15         Călărași          5       7
16             Dolj          5      15
17        Dâmbovița          5      40
18           Galați          5      17
19          Giurgiu          5       8
20             Gorj          5      25
21         Harghita          5      41
22        Hunedoara          5      17
23         Ialomița          5       7
24             Iași          5      33
25            Ilfov          5       7
26        Maramureș          5      37
27        Mehedinți          5       9
28            Mureș          5      13
29            Neamț          5      43
30              Olt          5      19
31          Prahova          5      41
32        Satu Mare          5      23
33            Sibiu          5      47
34          Suceava          5      40
35            Sălaj          5       4
36        Teleorman          5      10
37            Timiș          5      31
38           Tulcea          5      17
39           Vaslui          5      11
40          Vrancea          5      29
41           Vâlcea          5      23

In [168]:
# Task 6 - correct

num_of_null_values_series = (data.count(axis="columns") * 100 / data.columns.size).round(2)
task_6 = pd.DataFrame({
    "id": data["_id"],
    "subtaskID": 6,
    "answer": num_of_null_values_series
})

task_6

        id  subtaskID  answer
0        1          6   81.82
1        2          6   81.82
2        3          6   77.27
3        4          6   79.55
4        5          6   65.91
...    ...        ...     ...
1003  1006          6   72.73
1004  1007          6   86.36
1005  1008          6   72.73
1006  1009          6   61.36
1007  1011          6   79.55

[1008 rows x 3 columns]

In [169]:
# Task 7 - correct

task_7 = pd.DataFrame({
    "id": 7,
    "subtaskID": 7,
    "answer": (float(num_of_null_values_series.sum()) / float(data["_id"].count())).__round__(2)
}, index=[7])

task_7

   id  subtaskID  answer
7   7          7   72.59

In [172]:
# Task 8

task_8 = pd.DataFrame({
    "id": 8,
    "subtaskID": 8,
    "answer": round(100 * num_of_null_values_series.map(lambda v: 1 if v == np.max(num_of_null_values_series) else 0).sum() / num_of_null_values_series.values.size, 2)
}, index=[8])

task_8

   id  subtaskID  answer
8   8          8    1.49

In [173]:
answer = pd.concat(
    [task_1, task_2, task_3, task_4, task_5, task_6, task_7, task_8]
)
answer.to_csv("answer.csv", index=None)